<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Console</h1>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <input type='button' class="btn btn-default" id='connect' value='connect' />
            <input type='button' class="btn btn-default" id='disconnect' value='disconnect' />
            <input type='button' class="btn btn-default" id='ping' value='ping' />
        </div>
        <div class="panel-body">
            <p class="help-block">To verify hash codes, enter your title's secret key and message body.</p>
            <label>Secret Key</label>
            <input class="form-control" id="secretKey" value="" />
            <label>Body</label>
            <input class="form-control" id="hook_body" value="" />
            <input type="button" class="btn btn-default" id="calculateHash" value="Calculate hash" />
        </div>
    </div>
</div>
<div class="row" id="game">
   <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <pre id="display"></pre>
            </div>
        </div>
    </div>
</div>

